<div class="row">
  <div class="card m-2 col-sm-4" *ngFor="let item of content">
    <img src="#" class="card-img-top" alt="{{ item.image }}">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Quantity: {{ item.quantityOnWarehouse }}</li>
        <li class="list-group-item">Category: {{ item.category }}</li>
        <li class="list-group-item">OnSale? - {{ item.onSale }}</li>
        <li class="list-group-item">Price: {{ item.price }}</li>
      </ul>
    </div>
    <div class="card-footer">
      <a class="link-info" href="/item/{{ item.id }}">View details</a>
    </div>
  </div>
</div>


